cloud_id                 = "b1g30dphsfgjhfghjfg"
folder_id                = "b1gsa5r0vp94v3566bv"
zone                     = "ru-central1-a"
image_id                 = "fd867k8v34v435v34t"
public_key_path          = "~/.ssh/appuser.pub"
private_key              = "~/.ssh/appuser"
subnet_id                = "e9bth3345v3v53bkor"
service_account_key_file = "~/example_key.json"
instance_count           = "1"
app_disk_image           = "fd8ql0m1l48c6no5mbge"
db_disk_image            = "fd86f54e9lafb49eks3g"
