cloud_id                 = "b1g30dphsfgjhfghjfg"
folder_id                = "b1gsa5r0vp94v3566bv"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
private_key              = "~/.ssh/appuser"
service_account_key_file = "~/example_key.json"
app_disk_image           = "fd8ql0m1l48c6no5mbge"
db_disk_image            = "fd86f54e9lafb49eks3g"
